OpusTagsパース中にDoS攻撃を受ける余地がある

2017-08-16時点では、OpusTagsの処理をするのに`ogg_stream_packetout()`を使ってパケットを一度に全てメモリに展開した上でパースをしています。そのパケットというのは無限にサイズが大きくなる可能性があり、また音声データと違ってデータサイズだけを見て異常かどうかを判断して捨てるという行動を採れないので、そこでDoSが成立します。

これを防ぐのであれば、パケット構築を待つのではなくてページを逐次処理していく方針に切り替えないといけないんだけど、それが嫌でライブラリ使ってんのになぁ……。

Opusパースを克服しても、タグのレコードを全部メモリに持ってる関係で巨大な編集入力でもDoSを受けるのでそれもよろしくない。

いずれにせよ、任意サイズデータをメモリに持っているのが原因なので`tmpfile()`を使うように書き換えないといけないですね。

自分でエンコードした信頼出来るファイルに対しては無害だけど

これはどうでも良いことなんですが、コメントのパース処理に逐次処理が勧められていることと一緒にコメントヘッダのサイズが120MiB以上になったら不正なものとして扱うことも勧められています[[RFC 7845 § 5.2](https://tools.ietf.org/html/rfc7845#section-5.2)の最後ら辺]。何故100MiBでも128MiBでもなく120MiBなのかは謎です。

36547bcbcdac2ab4aa174c55c536e057395347fa, b5798032b74d54406feb8f3086590e10b161ee74, b1a667be5ea5cc9bbc22dd37aad546a13ea5cfde でメモリ埋め攻撃から避けられるようになりました。閉じます。